@font-face {
  font-family: "SM64";
  src: url('assets/sm64-font/super-mario-64-extended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('assets/b64bg.png');
  background-repeat: repeat;
  background-size: 150px 150px;
}

body {
  font-family: "SM64", sans-serif;
  font-size: 20px;
}

.b64_sign {
  line-height: 1.5;
  outline: 2px solid black;
  background-color: white;
  padding: 8px;
  display: inline-block;
}

.b64_desc {
  float: left;
  height: auto;
  position: relative;
  margin: 10px;
}

.b64_desc img {
  width: 200px;
  margin-right: 15px;
  shape-margin: 15px;
}

.b64_imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.b64_img {
  text-align: center;
  padding: 10px;
}

.b64_img img {
  height: 200px;
  width: auto;
  outline: 2px solid black;

}