@font-face {
  font-family: "mabelfont";
  src: url('assets/mabelfont_blue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url('assets/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url('assets/Jost-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "mabelfont", sans-serif;
  font-size: 20px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
}

footer {
  margin-top: auto;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_bottom img {
  margin: 10px;
  height: 20px;

}

.tabdesc {
  line-height: 150%;
  text-align: center;
  font-size: 300%;
  font-weight: bolder;
  font-family: "Jost", sans-serif;

}

.tabs {
  display: flex;
  justify-content: center;
  line-height: 0%;
}

.tab {
  text-align: center;
  width: 50%;
  font-size: min(24px, 3vw);
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}