body {
  background-color:azure;
  /* background-image: url('assets/mcbg.png');
  background-repeat: repeat;
  background-size: 150px 150px; */
}

.bottext {
  width: 100%;
  display: inline-block;
  
}

.bottext img {
  height: 128px;
  outline: 2px solid gray;
  margin: 15px;

}

.botbox {
  line-height: 1.5;
  outline: 2px solid black;
  background-color: white;
  padding: 15px;
  margin: 15px;
}

.botbox img {
  margin-top: 15px;
  margin-bottom: 15px;
  outline: 2px solid black;
  align-items: center;

}


